html {
    background-color: grey
}

body {
    background-color: white;
    width: 800px;
    margin: auto;
    font-family: "Helvetica", sans-serif;
}

main {
    overflow: auto;
}

div {
    background-color: white;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    float: left;
}
.active {
    background-color: blue;
}